
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* GENERAL */
*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    margin: 0 auto;
    height: 60px;
    padding: 10px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
}
.leftheader{
    color: white;
    font-weight: bolder;
    margin-right: 50px;
}
.middleheader a{
    margin: 5px;
}
.home{
    color: white;
}
.rightheader button{
    background-color: white;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    
}
.rightheader{
    margin-left: 50px;
}
.mainfirst{
    margin:0 auto;
    width: 80%;
    height: 400px;
    text-align: center;
    margin-top: 50px;
    margin-right: 200px;
    position: relative;
 

}
.mainfirst h1{
    font-size: 30px;
    margin: 10px;
    padding: 5px;
    margin-left: 130px;

}
.firstbox{
    border: 2px solid black;
    width: 30%;
    margin: 10px;
    height: 300px;
    float: right;
    
}
.secondbox{
    border: 2px solid black;
    width: 30%;
    margin: 10px;
    height: 300px;
    float: right;
}
.thirdbox{
    border: 2px solid black;
    width: 30%;
    margin: 10px;
    height: 300px;
    float: right;
}
.box{
    border: 2px solid aqua;
    width: 80px;
    height: 80px;
    background-color: lightseagreen;
    margin-left: 35%;
}
.box2{
    background-color: orange;
    float: right;
    margin-right: 20px;
}
.box5{
    background-color: orange;
    float: left;
    margin-left: auto;
   
}
.box8{
    background-color: orange;
}
.img1 img{
    margin: 0 auto;
    width: 30px;
    background-color: brown;
    border-radius: 5px;
    float: right;
    margin-right: 30px;
    position: sticky;
     
}
.flexmain{
    margin: 0 auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;

    
   
}
.flexmain h2{
    margin: 20px;
    padding: 10px;
    font-size: 30px;

}
.flex1{
    margin: 20px;
    padding: 20px;
}
.item{
   border: 2px solid aqua;
   width: 80px;
   height: 80px;
   margin: 1px;
   background-color: lightseagreen;
   
}
hr{
    background-color: brown;
   
}
.item1{
    border: 2px solid aqua;
    width: 80px;
    height: 80px;
    margin: 1px;
    background-color: lightseagreen;
    
 }
 
 .flexmiddle{
     margin: 0 auto;
     margin-top: 50px;
     width: 40%;
     padding: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
 }
 
 .item2{
    border: 2px solid aqua;
    width: 80px;
    height: 80px;
    margin: 2px;
    background-color: lightseagreen;
    
 }
 .flexsecondlast{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

.mid{
    width: 17%;
}

.item3{
    border: 2px solid aqua;
    width: 95px;
    height: 95px;
    margin: 15px;
    background-color: lightseagreen;
    
 }
.flexlast{
    margin: 0 auto;
    margin-top: 50px;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
/* footer{
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(55, 158, 199);;
    text-align: center;
}
footer a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    margin: 40px;
    
    
} */

